$tradePriceFontSizeSmall: 18px;
$tradePriceFontSizeMedium: 20px;
$tradePriceFontSizeLarge: 24px;
$tradePriceFontSizeHuge: 48px;
$tradePriceFontColor: darkgreen;

$tradeVolumeFontSizeSmall: 32px;
$tradeVolumeFontSizeMedium: 32px;
$tradeVolumeFontSizeLarge: 32px;
$tradeVolumeFontSizeHuge: 32px;
$tradeVolumeFontColor: darkblue;
