@if (question$ | async; as question) {
    <div class="toolbar-and-monitor">
        <trader-toolbar (nextPrompt)="skipQuestion()" />
        <trader-score-monitor [correct]="correctCount" [incorrect]="incorrectCount" [skipped]="skippedCount" />
    </div>
    <trader-question-statement [prompt]="question" />
    <trader-user-answer [answers]="question.reply" (correct)="processOutcome($event)" />
    <trader-show-answer [answers]="question.reply" />
} @else {
    <div>Loading questions...</div>
}
