@let p = prompt();

@switch (p.type) {
    @case ('prompt') {
        <trader-any-prompt [prompt]="p.prompt" />
    }
    @case ('ask') {
        <img [src]="'img/buyer' + imgSuffix + '.png'" alt="Buyer" class="buyer">
        <trader-ask [askPrice]="p.ask.price" [askVolume]="p.ask.volume" [cancel]="p.cancel" [query]="p.query" [imgSuffix]="imgSuffix" />
    }
    @case ('bid') {
        <trader-bid [bidPrice]="p.bid.price" [bidVolume]="p.bid.volume" [cancel]="p.cancel" [query]="p.query" [imgSuffix]="imgSuffix" />
        <img [src]="'img/seller' + imgSuffix + '.png'" alt="Seller" class="seller">
    }
    @default {
        <img [src]="'img/buyer' + imgSuffix + '.png'" alt="Buyer" class="buyer">
        <trader-ask-bid [askPrice]="p.ask.price" [askVolume]="p.ask.volume" [bidPrice]="p.bid.price" [bidVolume]="p.bid.volume" [cancel]="p.cancel" [query]="p.query" [imgSuffix]="imgSuffix" />
        <img [src]="'img/seller' + imgSuffix + '.png'" alt="Seller" class="seller">
    }

}
