@use 'trades';
@use 'screens';

:host {
    display: inline-block;
    position: relative;
}

.price {
    position: absolute;
    color: trades.$tradePriceFontColor;
    text-align: center;
    transform: scale(var(--flip-horizontal, 1), 1);
}

.volume {
    position: absolute;
    color: trades.$tradeVolumeFontColor;
    transform: scale(var(--flip-horizontal, 1), 1);
}

@include screens.small-screen {
    img {
        height: 250px;
    }
    .volume {
        font-size: trades.$tradeVolumeFontSizeMedium;
    }
    .price {
        font-size: trades.$tradePriceFontSizeMedium;
    }
    .ask-price {
        top: 88px;
        left: 36px;
        right: 186px;
    }
    .ask-volume {
        top: 37px;
        left: 170px;
    }
}

@include screens.medium-screen {
    img {
        height: 250px;
    }
    .volume {
        font-size: trades.$tradeVolumeFontSizeMedium;
    }
    .price {
        font-size: trades.$tradePriceFontSizeMedium;
    }
    .ask-price {
        top: 88px;
        left: 36px;
        right: 186px;
    }
    .ask-volume {
        top: 37px;
        left: 170px;
    }
}

@include screens.large-screen {
    img {
        height: 350px;
    }
    .volume {
        font-size: trades.$tradeVolumeFontSizeLarge;
    }
    .price {
        font-size: trades.$tradePriceFontSizeLarge;
    }
    .ask-price {
        top: 124px;
        left: 53px;
        right: 260px;
    }
    .ask-volume {
        top: 60px;
        left: 236px;
    }
}

@include screens.huge-screen {
    .volume {
        font-size: trades.$tradeVolumeFontSizeHuge;
    }
    .price {
        font-size: trades.$tradePriceFontSizeHuge;
    }
    .ask-price {
        top: 200px;
        left: 83px;
        right: 431px;
    }
    .ask-volume {
        top: 116px;
        left: 380px;
    }
}
